//general styles here
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: rgb(255, 255, 255);
  font-family: 'Nunito', serif;
  font-weight: 400;
  font-size: 16px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 4px 16px;
  height: 40px;
}

button:disabled {
  cursor: default;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.wrapper, .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px 24px;
}

.invisible {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 12px;
  position: relative;
}

.header_logo {
  font-family: 'Fredoka One';
  color: rgb(73, 73, 73);
  font-size: 36px;
  letter-spacing: 1px;
}

.header::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -5px;
  width: calc(100% - 20px);
  height: 2px;
  background: linear-gradient(to right, orange, white);
  margin: 10px 0;
}

.cart_btn {
  position: relative;
  border: 0.5px solid gray;
  border-radius: 5px;
  background-color: transparent;
  color: rgb(95, 94, 94);
}

.header_cart_amount {
  position: absolute;
  left: 37px;
  bottom: 3px;
  width: 23px;
  height: 23px;
  padding: 2px;
  font-size: 15px;
  text-align: center;
  border: none;
  background-color: white;
}

.header_cart_total {
  margin-left: 30px;
  font-weight: 800;
  color: gray;
}

.footer {
  padding: 8px 0;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  width: 30%;
  color: $gray;
}

.footer_team {
  display: flex;
  align-items: center;
}

.github_logo {
  width: 40px;
  height: 40px;
  background-image: url('img/github-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.github_links {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.github_link,
.year,
.rs_logo {
  opacity: 0.7;
}

.github_link:hover {
  opacity: 1;
}

.rs_logo {
  display: block;
  width: 100px;
  height: 40px;
  background-image: url('img/rs-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.rs_logo:hover {
  opacity: 1;
}

.error_page {
  min-height: 80vh;
  text-align: center;
}
