//general styles here
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);

}

h1 {
  color: green;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.wrapper, .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.invisible {
  display: none;
}










.gallery_wrapper, .cart_gallery_body {
  display: flex;
  flex-wrap: wrap;
}

.item_pic_img, .cart_item_pic_img {
  width: 100px;
}

.store_item, .cart_item {
  width: 200px;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
}

.cart_item_amount {
  display: flex;
  justify-content: center;
  gap: 10px;
}