.store_page {
  display: grid;
  grid-template-columns: 20% 1fr;
}

.filters_wrapper {
  width: 240px;
}

.filters_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.filter_name {
  display: block;
  padding-bottom: 4px;
  font-weight: bold;
  text-transform: capitalize;
}

.filter_inner_item {
  display: flex;
  gap: 4px;
  align-self: flex-start;
}

.filter_range_wrapper {
  display: flex;
  flex-direction: column;
}

.dual_range_wrapper {
  position: relative;
  min-height: 16px;
  padding-top: 4px;
}

#filter_range_min,
#filter_range_max {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: none;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #C6C6C6;
  width: 100%;
}

#filter_range_min {
  margin-top: 1px;
  height: 0;
  z-index: 1;
}

#filter_range_min::-webkit-slider-thumb,
#filter_range_max::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  cursor: pointer;
  // z-index: 2;
  width: 12px;
  height: 12px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
}

#filter_range_min::-moz-range-thumb,
#filter_range_max::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: yellow;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
}

#filter_range_min::-webkit-slider-thumb:hover,
#filter_range_max::-webkit-slider-thumb:hover {
  background: orange;
}

#filter_range_min::-webkit-slider-thumb:active,
#filter_range_max::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px orange, 0 0 9px orange;
  -webkit-box-shadow: inset 0 0 3px orange, 0 0 9px orange;
}

.range_values {
  display: flex;
  justify-content: space-between;
}

.filter_btn_wrapper {
  display: flex;
  gap: 24px;
}